@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AMORIA";
  src: url("./assets/fonts/AMORIA.otf") format("opentype");
}
#root {
  margin: 0 auto;
  text-align: center;
}
.slick-prev::before,
.slick-next::before {
  color: black !important;
}

.slick-slide > div {
  display: grid;
  place-items: center;
}
